
<div class="main main-raised">
    <h2 class="title">{{ saludo.msg }}</h2>
    <div class="container">
        <div class="section text-center">
            <h2 class="title">Detalle del carrito Nº{{cid}}</h2>
            <div class="card-body">
                <div class="card-body">
                <form method="post" action="/api/carts" enctype="multipart/form-data">         
                    <label for=""></label>
                    <button type="submit" class="btn btn-primary">Listado de Carritos</button>
                    <a href=" #" class="btn btn-default">Cancelar</a>
                </form>

            </div>

            </div>
        </div>
    </div>
</div>