
<div class="main main-raised">
    <h2 class="title">{{ saludo.msg }}</h2>
    <div class="container">
        <div class="section text-center">
            <h2 class="title">Testing</h2>
            <div class="card-body">
                <div class="card-body">
                    <a href="/productshome" class="btn btn-info">Normal Products list</a>
                    <a href="/realtimeproducts" class="btn btn-info">Websocket Products List</a>
                </div>
            </div>
        </div>
    </div>
</div>

